@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Vithkuqi:wght@500&family=Rubik:wght@500&display=swap');

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background: #4bfbfb;
    border-radius: 6px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: Noto+Sans+Vithkuqi;
}
:root{
    --bg-color:#1f242d;
    --black-color:#212124;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color:#4bfbfb;
    --bg-color-light:#f6f9fe;
    --links-color:#3f7277;
    --ash-color:#d6d6d6;
    --background-color:#f3f4f6;
}

#loader {
    width: 100vw;
    height: 100vh;
    border: 1px solid white;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}
/*===============================================================*/
#loader > div {
    width: 300px;
    height: 300px;
    background: url("Assets/gallery/design1.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

}

html{
    font-size: 62%;
    overflow-x:hidden;

}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;

}
.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;

}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;

}

.home-img img{
    width: 35vw;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;

}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;

}

span{
    color: var(--main-color);
}

.home-content h1{
    font-weight: 700;
    font-size: 5.6rem;
    line-height: 1.3;

}
.home-content .text-animate{
    position: relative;
    width: 32.8rem;
}
.home-content .text-animate h3{
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
    background-image: linear-gradient(var(--main-color),var(--main-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: 0,0;
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;

}

.home-content .text-animate h3::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main-color);
    z-index: -1;

}


.home-content p{
    font-size: 1.6rem;

}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .1rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn{
    display: inline-flex;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s;

}

.btn:hover{
    box-shadow: none;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;

}

.container .hero-pic{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    /*border: 15px solid var(--text-color);*/
    box-shadow: 5px 7px 25px rgba(0,0,0,0.5);

}

.hero-pic img{
    height: 100%;
    width: 100%;

    transition: .5s;

}

.hero-pic img:hover{
    transform: scale(1.2);
}
/*about ------------------*/

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
}

.about-img{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-img img{
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--second-bg-color);
}

.about-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .4rem solid var(--second-bg-color);
    border-bottom: .4rem solid var(--second-bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
animation: aboutSpinner 8s linear infinite;
}

.about-content{
    text-align: center;
}

.about-content h3{
    gap: 2rem;
    font-size: 2.6rem;

}

.about-content p{
    gap: 2rem;
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

span{
    color:var(--main-color);
}

.heading{
    text-align: center;
    font-size: 4.5rem;
}


/*Service -----------------------*/


.services h2{
    margin-bottom: 5rem;

}

.services .services-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
.services-container .service-box{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-basis: 32%;
    padding: 40px 40px 30px;
    background-color: var(--links-color);
    border: 1px solid var(--text-color);
    border-radius: 5px;
    margin-bottom: 20px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.4s;
    z-index: 1;
}
.service-box .icon-wrapper{
    position: relative;
    background-color: var(--second-bg-color);
    font-size: 30px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    transition: 0.3s;
    z-index: 3;
}
.service-box .icon-wrapper i{
    font-size: 24px;
    color: var(--bg-color-light);
    transition: 0.3s;
}
.service-box h2{
    padding: 15px 0px 10px;
    color: var(--text-color);
    font-size: 20px;
    transition: 0.3s;
}
.service-box p{
    font-size: 15px;
    color: var(--ash-color);
    line-height: 1.3;
    transition: 0.3s;
}

.services-container .service-box::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 1.3%;
    background-color: var(--second-bg-color);
    left: 0%;
    bottom: 0%;
    z-index: -1;
    transition: all 0.4s cubic-bezier(0.69, 0.05, 0, 0.97);
}
.services-container .service-box:hover::after{
    height: 100%;
}


.services-container .service-box:hover:before{
    opacity: 1;

}
.services-container .service-box:hover{
    transform: translateY(-2px);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.15);
}
.services-container .service-box:hover.service-box .icon-wrapper{
    background-color: var(--main-color);
}
.services-container .service-box:hover.service-box .icon-wrapper i{
    color: var(--links-color);
}
.services-container .service-box:hover.service-box h2{
    color: var(--links-color);
}
.services-container .service-box:hover.service-box p{
    color: #aaa;
}
.services-container .service-box:hover.service-box h3{
    color: #e3e3e8;
}



/* Project --------------------------------------*/


.portfolio{
    background: var(--second-bg-color);

}
.portfolio h2{
    margin-bottom: 4rem;

}

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img{
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img{
    transform: scale(1.1);
}


.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(0, 0, 0,.1),var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;

}

.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
}


.portfolio-layer h4{
    font-size: 3rem;
}

.portfolio-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;

}

.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i{
    font-size: 2rem;
    color: var(--second-bg-color);
}


/*My Assignment ----------------------*/

.assignment{
    padding-bottom:10rem;

}

.assignment h2{
    margin-bottom:4rem;

}

.assignment h4{
    font-size: 3rem;
}

.assignment .assignment-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;

}

.assignment-container .assignment-box{
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0,0,0,.1);

    overflow: hidden;

}

.assignment-box img{
    width: 100%;
    transition: .5s ease;
}
.assignment-box:hover img{
    transform: scale(1.1);
}


.assignment-box .assignment-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1),var(--main-color));
    color: var(--text-color);
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    opacity: 0;
    transition: .5s ease;
}

.assignment-box:hover .assignment-layer{
    opacity:1;
}


.assignment-layer h4{
    font-size: 3rem;
}

.assignment-layer p{
    font-size: 1.6rem;
    margin:.3rem 0 1rem;
}

.assignment-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--main-color);
    border-radius: 50%;
}

.assignment-layer a i{
    font-size: 2rem;
    color: var(--second-bg-color);
}

.btn-see-more{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 2rem;
}

/*Skills form*/


.skillsTools .box-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
}

.skillsTools .box-container .box {
    position: relative;
}

.skillsTools .box-container .box span {
    font-size: 1.5rem;
    background: #222;
    color: #fff;
    border-radius: 5rem;
    padding: .5rem 2.5rem;
}

.skillsTools .box-container .box h3 {
    font-size: 1.1rem;
    color: #fff;
    padding-top: 1.5rem;
    font-weight: 100;
}

.skillsTools .box-container .box h3:hover {
    transform: scale(1.1);
}

.skillsTools .box-container .box i {
    position: absolute;
    top: -0.5rem;
    left: -1.7rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    line-height: 3rem;
    text-align: center;
    font-size: 2rem;
    color: black;
    background: #fff724;
}

.skillsTools .box-container .box {
    margin: 2rem 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-left: 0.2rem solid #fff;
    position: relative;
    border-style: dotted;

}

.skillsTools .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.skillsTools .img-container .logo {
    border-radius: 1rem;
    margin: 1.5rem;
    overflow: hidden;
    cursor: pointer;
    width: 70px;
    height: 70px;
}

.skillsTools .img-container .logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.skillsTools .img-container .logo:hover img {
    transform: scale(1.2);
}




/*.experience__container{*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr;*/
/*    gap: 3rem;*/

/*}*/

/*.experience__container > div{*/
/*    background: var(--second-bg-color);*/
/*    padding: 2.4rem 5rem;*/
/*    border-radius: 2rem;*/
/*    border: 1px solid transparent;*/
/*    transition: var(--bg-color);*/

/*}*/

/*.experience__container >div:hover{*/
/*    background: transparent;*/
/*    border-color: var(--main-color);*/
/*    cursor: default;*/

/*}*/
/*.experience__container >div h3{*/
/*    text-align: center;*/
/*    margin-bottom: 2rem;*/
/*    color: var(--text-color);*/

/*}*/
/*.experience__content{*/
/*    display: grid;*/
/*    row-gap: 2rem;*/

/*}*/
/*.experience__details{*/
/*    display: flex;*/
/*    gap: 3rem;*/

/*}*/
/*.experience__details-icon{*/
/*    margin-top:6px ;*/
/*    color: var(--text-color);*/

/*}*/
/*.experience__container h3{*/
/*    font-size: 3rem;*/
/*    font-weight: bold;*/
/*}*/
/*.experience__details h4{*/
/*    font-size: 2rem;*/
/*    font-weight: bold;*/
/*}*/

/*.experience__details-icon{*/
/*    margin-top: 6px;*/
/*    color: var(--main-color);*/

/*}*/

/*.experience__details .services-box i {*/
/*    margin-top: 1mm;*/
/*    color: var(--text-color);*/
/*}*/


/*Gallery Form --------------------------------------------*/

.portfolio h2{
    margin-bottom: 5rem;

}

section.portfolio{
    width: 100%;
    padding: 80px 10% 40px;
}
.portfolio .portfolio-contents{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.portfolio-contents .portfolio-item{
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 300px;
    overflow: hidden;
}
.portfolio-contents .portfolio-item img{
    width: 100%;
    height: 80%;
    object-fit: cover;
    transition: transform 0.3s;
}
.portfolio-contents .portfolio-item:hover img{
    transform: scale(1.1);
}
.portfolio-contents .portfolio-item .project-desc{
    position: absolute;
    width: 100%;
    min-height: 20%;
    padding: 10px;
    left: 0;
    bottom: 0;
    background-color: var(--ash-color);
}
.portfolio-item .project-desc h3{
    font-size: 20px;
    font-weight: 500;
    color: var(--black-color);
}

.portfolio-item .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.portfolio-item .overlay a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.portfolio .projects-btn-container{
    text-align: right;
    margin-top: 40px;
}




/*Contact form  --------------------------------------------*/

.contact h2{
    margin-bottom: 5rem;

}

section.contact{
    width: 100%;
    background-color: var(--bg-color);

}
.contact .contact-contents{
    width: 100%;
    display: grid;
    grid-template-columns: 7fr 4fr;
    grid-gap: 10px;
}
.contact-contents .contact-col{
    position: relative;
    background-color: var(--second-bg-color);
    padding: 10px;
    border-radius: 10px;
}
.contact-contents .contact-col-1 h1{
    font-size: 26px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--ash-color);
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.contact-contents .contact-col-1 .contact-form{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
.contact-col-1 .contact-form .input-element{
    position: relative;
}
.contact-form .input-element input{
    width: 100%;
    border: none;
    border-radius: 25px;
    outline: 1px solid #eee;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 15px;
    background-color: var(--bg-color-light);
    color: var(--links-color);
}
.contact-form textarea{
    width: 100%;
    height: 200px;
    background-color: var(--bg-color-light);
    border: 1px solid #eee;
    border-radius: 10px;
    outline: none;
    padding: 15px;
    color: var(--ash-color);
    font-size: 15px;
    resize: none;
    margin-bottom: 15px;
}
.contact-contents .contact-col-2 .contact-item{
    display: flex;
    align-items: center;
    margin: 30px 0px;
}
.contact-col-2 .contact-item .icon{
    width: 45px;
    min-width: 45px;
    height: 45px;
    min-height: 45px;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    margin-right: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
}
.contact-item .icon i{
    font-size: 16px;
    color: var(--main-color);
}
.contact-item .contact-text{
    display: flex;
    flex-direction: column;
}
.contact-item .contact-text span{
    color: var(--main-color);
}
.contact-item .contact-text span:nth-child(1){
    color: var(--ash-color);
    font-weight: 600;
    margin-bottom: 5px;
}
.contact-col-2 .contact-social-media{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 150px;
}
.contact-col-2 .contact-social-media a{
    width: 35px;
    height: 35px;
    text-decoration: none;
    text-align: center;
    margin-right: 15px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: var(--main-color);
    transition: 0.3s;
}
.contact-col-2 .contact-social-media a i{
    color: var(--bg-color-light);
    font-size: 18px;
    line-height: 35px;
    transition: 0.3s;
}
.contact-col-2 .contact-social-media a:hover{
    transform: translateY(-5px);
    background-color: var(--bg-color-light);
    border: 1px solid var(--main-color);
}
.contact-col-2 .contact-social-media a:hover i{
    color: var(--main-color);
}


/*footer design ----------------------------------------- */

section.page-footer{
    width: 100%;
    padding: 70px 8% 50px;
    background-color: var(--second-bg-color);
    color: var(--bg-color-light);
}
.page-footer .footer-contents{
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-gap: 40px;
}
.footer-contents .footer-col{
    display: flex;
    flex-direction: column;
}
.footer-contents .footer-col .footer-col-title{
    margin-bottom: 20px;
}
.footer-col .footer-col-title h3{
    font-size: 24px;
    color: var(--bg-color-light);
    text-transform: capitalize;
}
.footer-contents .footer-col .footer-col-desc{
    display: flex;
    flex-direction: column;
}
.footer-col-1 .footer-col-desc p{
    line-height: 1.4;
    color: var(--ash-color);
    margin-bottom: 10px;
}
.footer-col-1 .footer-col-desc span{
    color: var(--bg-color-light);
    margin-bottom: 17px;
    display: inline-block;
}
.footer-col-1 .footer-col-desc span:nth-of-type(1){
    margin-top: 15px;
}
.footer-col-1 .footer-social-media{
    display: flex;
    margin-top: 20px;
}
.footer-col-1 .footer-social-media a{
    text-decoration: none;
    color: var(--ash-color);
    margin-right: 10px;
}
.footer-col-1 .footer-social-media a i{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: var(--main-color);
    color: var(--bg-color-light);
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all 0.3s;
}
.footer-col-1 .footer-social-media a i:hover{
    background-color: transparent;
    border: 1px solid var(--main-color);
    color: var(--main-color);
}
.footer-col-2 .footer-col-desc a{
    text-decoration: none;
    font-size: 16px;
    color: var(--ash-color);
    letter-spacing: 1px;
    margin-bottom: 17px;
    transition: 0.3s;
}
.footer-col-2 .footer-col-desc a:hover{
    color: var(--main-color);
}
.footer-col-3 .footer-col-desc p{
    color: var(--ash-color);
    line-height: 1.4;
}
.footer-col-3 .footer-col-desc input{
    width: 100%;
    padding: 15px;
    margin: 20px 0px 15px;
    background-color: var(--bg-color-light);
    color: var(--second-bg-color);
    border: none;
    border-radius: 25px;
}
.copy-rights{
    width: 100%;
    padding: 30px 8%;
    background-color: var(--ash-color);
    border-top: 1px solid #333;
}
.copy-rights p{
    color: var(--bg-color);
    text-align: center;
}
.copy-rights p b{
    color: var(--main-color);
}

/* media query */
@media all and (min-width: 320px) and (max-width: 375px) {
    .navbar a {
        font-size: 0.8rem;
        margin-left: 1rem;
    }

    .logo {
        font-size: 1.5rem;
    }

    .hero-pic img {
        display: none;
    }

    .container .hero-pic {
        display: none;
    }

    .services-container .service-box {
        flex-basis: 100%;
    }

    .portfolio-container {
        grid-template-columns: repeat(1,1fr);
    }

    .portfolio-layer h4 {
        font-size: 1.7rem;
    }

    .assignment .assignment-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .experience__container {
        grid: none;
    }

    .portfolio .portfolio-contents {
        grid-template-columns: repeat(1, 1fr);
    }

    .contact .contact-contents {
        grid: none;
    }

    .page-footer .footer-contents {
        grid-gap: 20px;
    }

    .footer-contents .footer-col .footer-col-desc {
        position: relative;
        right: 1rem;
    }
}

@media all and (min-width: 375px) and (max-width: 425px) {
    .navbar a {
        font-size: 0.9rem;
        margin-left: 2.5rem;
    }

    .logo {
        font-size: 1.5rem;
    }

    .hero-pic img {
        display: none;
    }

    .container .hero-pic {
        display: none;
    }

    .services-container .service-box {
        flex-basis: 100%;
    }

    .portfolio-container {
        grid-template-columns: repeat(1,1fr);
    }

    .portfolio-layer h4 {
        font-size: 1.7rem;
    }

    .assignment .assignment-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .experience__container {
        grid: none;
    }

    .portfolio .portfolio-contents {
        grid-template-columns: repeat(1, 1fr);
    }

    .contact .contact-contents {
        grid: none;
    }

    .footer-col .footer-col-title h3 {
        display: none;
    }

    .footer-col-3 .footer-col-desc input {
        display: none;
    }

    [type="submit"] {
        display: none;
    }
}

@media all and (min-width: 425px) and (max-width: 768px) {
    .navbar a {
        font-size: 1.2rem;
        margin-left: 2.5rem;
    }

    .logo {
        font-size: 2rem;
    }

    .hero-pic img {
        display: none;
    }

    .container .hero-pic {
        display: none;
    }

    .services-container .service-box {
        flex-basis: 100%;
    }

    .portfolio-container {
        grid-template-columns: repeat(1,1fr);
    }

    .portfolio-layer h4 {
        font-size: 1.7rem;
    }

    .assignment .assignment-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .experience__container {
        grid: none;
    }

    .portfolio .portfolio-contents {
        grid-template-columns: repeat(1, 1fr);
    }

    .contact .contact-contents {
        grid: none;
    }

    .footer-col .footer-col-title h3 {
        display: none;
    }

    .footer-col-3 .footer-col-desc input {
        display: none;
    }

    [type="submit"] {
        display: none;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .navbar a {
        font-size: 1.3rem;
        margin-left: 2.5rem;
    }

    .logo {
        font-size: 2rem;
    }

    .services-container .service-box {
        flex-basis: 100%;
    }

    .portfolio-container {
        grid-template-columns: repeat(2,1fr);
    }

    .portfolio-layer h4 {
        font-size: 1.7rem;
    }

    .assignment .assignment-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .experience__container {
        grid: none;
    }

    .portfolio .portfolio-contents {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact .contact-contents {
        grid: none;
    }

    .footer-col .footer-col-title h3 {
        display: none;
    }

    .footer-col-3 .footer-col-desc input {
        display: none;
    }

    [type="submit"] {
        display: none;
    }
}

@keyframes aboutSpinner {
    100%{
        transform: translate(-50%,-50%) rotate(360deg);

    }
}

@keyframes homeBgText {
    0%,
10%,
100%{
        background-position: -33rem 0;

    }

    65%,
85%{
        background-position: 0;
    }
}